@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* --------------------------------------------------------------------- */
/* Global Styles */


/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}
/* Spacing */

.full-height{
    height: 100vh;
}

/* --------------------------------------------------------------------- */
/* Components */
button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: rgb(36, 61, 36);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;

}

/* bootstrap component */

/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.nav-link:hover {
    color: rgb(36, 61, 36);
}

.nav-link.active {
    border-bottom: 2px solid rgb(36, 61, 36);
    color: rgb(36, 61, 36);
}

/* carousel */

.carousel-item {
    background-color: rgb(189, 225, 209);
}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto; 
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next{
    left: 84px;
}

.hero-image{
    height: 90vh;
    position: relative;
    bottom: -100px;
}

.hero-image2{
    height: 90vh;
    position: relative;
    bottom: -200px;
}

/* Accordion */

.accord_sec {
    margin-top: 150px;
    height: 600px;
}

.accordion {
    margin-top: 300px;
}

.accordion-button{
    background-color: rgb(88, 145, 100);
    color: blanchedalmond;
}

.accord-image{
    max-height: 600px;
    margin-bottom: 150px;
}

/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    border: none;
    height: 440px;
}

.card-img-top {
    width: auto;
    height: 320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-text {
    color: rgb(36, 61, 36);
}

.card-img-top.small {
    height: 200px;
}

/* Wishlist */

tr:hover {
    cursor: pointer;
}

.list-img-left {
    width: auto;
    height: 100px;
    margin: auto;
}

.list-text {
    color: rgb(36, 61, 36);
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

.list-del {
    text-align: center;
    vertical-align: middle;
}

.list-del-img:hover {
    border: 2px solid rgba(183, 0, 0, 0.881);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all cubic-bezier(.08,.69,1,.26);

}

#remove {
    text-align: center;
}